nav{
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 40px;

  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
    width: 95vw;
    margin-right: 10px;
    height: min-content;

    li{
      a{
        text-decoration: none;
        font-size: 1.2rem;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
