<div class="wrappe">
  <div class="card_wrappe">
    <div class="card card_image">
      <img src="../../../../assets/fiesta.jpeg" alt="">
    </div>
    <div class="card card_info">
      <h2>Ford New Fiesta</h2>
      <p>Titanium plus 1.6 16v</p>
    </div>
    <div class="card card_price">
      <p>R$ 50.000</p>
    </div>
  </div>
</div>

<div class="wrappe">
  <div class="card_wrappe">
    <div class="card card_image">
      <img src="../../../../assets/fiesta.jpeg" alt="">
    </div>
    <div class="card card_info">
      <h2>Ford New Fiesta</h2>
      <p>Titanium plus 1.6 16v</p>
    </div>
    <div class="card card_price">
      <p>R$ 50.000</p>
    </div>
  </div>
</div>

<div class="wrappe">
  <div class="card_wrappe">
    <div class="card card_image">
      <img src="../../../../assets/fiesta.jpeg" alt="">
    </div>
    <div class="card card_info">
      <h2>Ford New Fiesta</h2>
      <p>Titanium plus 1.6 16v</p>
    </div>
    <div class="card card_price">
      <p>R$ 50.000</p>
    </div>
  </div>
</div>

<div class="wrappe">
  <div class="card_wrappe">
    <div class="card card_image">
      <img src="../../../../assets/fiesta.jpeg" alt="">
    </div>
    <div class="card card_info">
      <h2>Ford New Fiesta</h2>
      <p>Titanium plus 1.6 16v</p>
    </div>
    <div class="card card_price">
      <p>R$ 50.000</p>
    </div>
  </div>
</div>
